.main {
  margin: 0 auto;
  padding: 0 auto;
}

/* HEADERS CSS  */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  position: fixed;
  width: 98%;
  top: 0;
  left: 0;
  z-index: 100%;
}

.header .right {
  display: flex;
  gap: 20px;
}

.header .left {
  flex: 1;
}

.logo {
  max-width: 100px;
  max-height: 50px;
}

.navbar a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 100;
  margin-left: 2.5rem;
}

/* CONTAINER MAIN DETAILS CSS FROM HERE  */

/* containtent */
.containtent {
  /* background-color: wh; */
  top: 20px;
}

/* SECTION1 CSS */

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 70px;
  background-color: rgb(39, 37, 37);
}

.section1 .right {
  display: grid;
  place-items: center;
  font-family: "Agbalumo", "Courier New", Courier, monospace;
  font-size: 55px;
  color: whitesmoke;
}

.section1 .left {
  display: grid;
  place-items: center;
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 100px 0px;
  background-color: rgb(40, 41, 41);
}

.section2 .left {
  display: grid;
  place-items: center;
  font-family: "Agbalumo", "Courier New", Courier, monospace;
  font-size: 55px;
  color: beige;
}

.section2 .right {
  display: grid;
  place-items: center;
  font-family: "Kay Pho Du", "Courier New", Courier, monospace;
  font-size: 25px;
  color: beige;
}

.section3 {
  width: 100%;
  padding: 100px 0px;
  background-color: rgb(40, 41, 41);
}

.section3 .title {
  text-align: center;
  background-color: rgb(40, 41, 41);
  font-size: 45px;
}

.section3 .blogcard ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.section3 .blogcard li a {
  height: 26rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  box-shadow: 5px 5px 10px #555;
}

.section3 .blogcard .title {
  text-align: center;
  padding: 1rem;
  /* background-color: antiquewhite; */
  color: aliceblue;
  text-wrap: pretty;
  font-weight: bold;
}

.section3 .blogcard .description {
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
}

.section3 .blogcard li a:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section3 li a img {
  object-fit: scale-down;
  height: 14.5rem;
}

.sectionContainer {
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}


.section4 {
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(54, 56, 56);
  }
  
  .section4 .projecttitle {
    text-align: center;
    background-color: rgb(40, 41, 41);
    font-size: 45px;
  }
  
  .section4 .projectcard ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
  .section4 .projectcard li a {
    height: 26rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  
    box-shadow: 5px 5px 10px #555;
  }
  
  .section4 .projectcard .title {
    text-align: center;
    padding: 1rem;
    /* background-color: antiquewhite; */
    color: aliceblue;
    text-wrap: pretty;
    font-weight: bold;
  }
  
  .section4 .projectcard .description {
    font-size: medium;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
  }
  
  .section4 .projectcard li a:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  
  .section4 li a img {
    object-fit: scale-down;
    height: 14.5rem;
  }
  
  .sectionContainer {
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
  }
  